
  html{
    height: 100%;
    margin: auto;
    width: 100%;
    overflow: scroll;
}
  

body {
  background-size: cover;
  background-image: url('4.jpg');
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1%;
    
  }
  

  h1 {
    text-shadow: 3px 3px #f8f8f8;
    font-weight: bold;
    color:black;
    text-align: center;
    font-size: 20vw;

  }
  
  
  h2{
    text-shadow: 3px 3px #f8f8f8;
    font-size: 15vw;


  }

  
  h3{
    font-size: 15vw;
    direction: ltr;

     
  }

  p {
    background-color: #0a0a0a;
    color: blanchedalmond;
    text-align: center;
    padding: 2% 16%;
    line-height: 32px;
    border-style: dotted dashed solid double;
    border-radius: 3cm;
    border-right-width: 3cm;
    

  }

  #mainContent{
      font-size: 10vw; 
  }
  
   #cellphone{
      font-size: 11vw;
      font-weight: bold;
      }


  address{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 8vm;
    background-color: #cfe7eb;
    color: rgb(29, 28, 28);


  }  
